<article class="product-card group">
  <button type="button"
    [attr.aria-label]="isInWishlist ? 'Remove ' + product.name + ' from favorites' : 'Add ' + product.name + ' to favorites'"
    class="favorite-btn"
    (click)="toggleWishlist(product)" tabindex="0">
    <mat-icon>{{ isInWishlist ? 'favorite' : 'favorite_border' }}</mat-icon>
  </button>

  <a [routerLink]="href" class="product-link">
    <div class="image-container">
      <img [src]="imageUrl" [alt]="altText" class="product-image" draggable="false" />
    </div>
    
    <div class="content-area">
      <p class="price">{{ product.price | currency }}</p>
      <h3 class="product-name">{{ product.name }}</h3>
    </div>
  </a>
</article>