# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.
.vscode-server
# Environment variables
.env
.cache
.ssh
.bash_history
.wget-hsts
.dotnet
.npm
.lesshst
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/backend/api/dist/

# Node
/node_modules
/backend/api/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Environment variables
/backend/api/.env

# System files
.DS_Store
Thumbs.db
