:host {
  display: block;
  width: 100%; // מבטיח שהקומפוננטה עצמה תתפרס
}

.category-card {
  display: flex;
  flex-direction: column;
  width: 100%; // תופס את כל רוחב העמודה בגריד
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  // הוספת hover על כל הכרטיס
  &:hover {
    .category-image {
      transform: scale(1.05);
    }

    .category-name {
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}

.image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 15 / 11; // יחס רחב ויוקרתי )
  overflow: hidden;
  background: #f4f4f4;
  margin-bottom: 15px;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.2, 0, 0.2, 1);
}

.category-name {
  font-family: "Cormorant Garamond", "Georgia", serif;
  font-size: 1.25rem;
  color: #111;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}