<div class="custom-search-wrapper">
  <input
    class="custom-search-input"
    [placeholder]="tKeys.SF_SEARCH_BAR_PLACEHOLDER | translate"
    [(ngModel)]="searchQuery"
    (ngModelChange)="onSearchQueryChanged($event)"
    (keydown)="handleKeyDown($event)"
    (focus)="onSearchFocus()"
    #searchInput>
  <mat-icon *ngIf="!searchQuery && !searchInputFocused" class="search-icon-suffix" (click)="searchInput.focus()">search</mat-icon>
  <button *ngIf="searchQuery" mat-icon-button class="clear-icon-suffix" aria-label="Clear search" (click)="clearSearch()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<ul *ngIf="showSuggestions && currentSearchSuggestions.length > 0" class="suggestions-list">
  <li *ngFor="let suggestion of currentSearchSuggestions; let i = index"
      [class.active]="i === activeSuggestionIndex"
      (mousedown)="selectSuggestion(suggestion)"
      class="suggestion-item">
    <!-- Product Suggestion Template -->
    <ng-container *ngIf="suggestion.resultType === 'product'">
      <div class="suggestion-link product-suggestion">
        <img *ngIf="suggestion.imageUrls && suggestion.imageUrls.length > 0" [src]="suggestion.imageUrls[0]" [alt]="suggestion.name" class="suggestion-image">
        <!-- Basic placeholder if no image -->
        <div *ngIf="!suggestion.imageUrls || suggestion.imageUrls.length === 0" class="suggestion-image-placeholder">
          <span>{{ suggestion.name.charAt(0) || 'P' }}</span>
        </div>
        <div class="suggestion-details">
          <span class="suggestion-name">{{ suggestion.name }}</span>
          <span *ngIf="suggestion.price" class="suggestion-price">{{ suggestion.price | currency }}</span>
        </div>
      </div>
    </ng-container>

    <!-- Store Suggestion Template -->
    <ng-container *ngIf="suggestion.resultType === 'store'">
       <div class="suggestion-link store-suggestion">
         <div class="suggestion-image-placeholder">
            <span>{{ suggestion.name.charAt(0) || 'S' }}</span>
         </div>
         <div class="suggestion-details">
           <span class="suggestion-name">{{ suggestion.name }}</span>
           <span class="suggestion-description" *ngIf="suggestion.description">{{ suggestion.description | slice:0:50 }}{{ suggestion.description && suggestion.description.length > 50 ? '...' : ''}}</span>
         </div>
       </div>
    </ng-container>
  </li>
</ul>
