<form class="shipping-form" [formGroup]="form" dir="rtl">
  <div class="shipping-form__section">
    <h2 class="shipping-form__title">פרטים</h2>
    <div class="shipping-form__grid">
      <div class="shipping-form__grid-item--full">
        <input class="custom-input" formControlName="fullName" placeholder="שם מלא" />
      </div>
      <div class="shipping-form__grid-item--full">
        <input class="custom-input" type="email" formControlName="email" placeholder="אימייל" />
      </div>
      <div class="shipping-form__grid-item--full">
        <input class="custom-input" type="tel" formControlName="phone" placeholder="טלפון" />
      </div>
    </div>
  </div>

<div class="shipping-form__section">
  <h2 class="shipping-form__title">{{ tKeys.SF_CHECKOUT_SHIPPING_ADDRESS_TITLE | translate }}</h2>
  <div class="shipping-form__grid">
    
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="address1" placeholder="{{ tKeys.SF_CHECKOUT_ADDRESS_LABEL | translate }}" />
    </div>
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="address2" placeholder="{{ tKeys.SF_CHECKOUT_ADDRESS_LINE2_LABEL | translate }}" />
    </div>
    
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="city" placeholder="{{ tKeys.SF_CHECKOUT_CITY_LABEL | translate }}" />
    </div>
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="zip" placeholder="{{ tKeys.SF_CHECKOUT_ZIP_CODE_LABEL | translate }}" />
    </div>

  </div>
</div>
</form>