<form class="shipping-form" [formGroup]="form" dir="rtl">
  <div class="shipping-form__section">
    <h2 class="shipping-form__title">פרטים</h2>
    <div class="shipping-form__grid">
      <div class="shipping-form__grid-item--full">
        <input class="custom-input" formControlName="fullName" placeholder="שם מלא" />
      </div>
      <div class="shipping-form__grid-item--full">
        <input class="custom-input" type="email" formControlName="email" placeholder="אימייל" />
      </div>
      <div class="shipping-form__grid-item--full">
        <input class="custom-input" type="tel" formControlName="phone" placeholder="טלפון" />
      </div>
    </div>
  </div>

<div class="shipping-form__section">
  <h2 class="shipping-form__title">כתובת</h2>
  <div class="shipping-form__grid">
    
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="address1" placeholder="כתובת (רחוב ומספר בית)" />
    </div>
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="address2" placeholder="דירה, כניסה, קומה (אופציונלי)" />
    </div>
    
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="city" placeholder="עיר" />
    </div>
    <div class="shipping-form__grid-item">
      <input class="custom-input" formControlName="zip" placeholder="מיקוד" />
    </div>

  </div>
</div>
</form>