.shipping-form {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  direction: rtl; 
  text-align: right; 
  margin-right: 1rem;

  &__title {
  font-family: 'Heebo', sans-serif;
  margin-top:-1rem;
  color:#000000;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
    &-item {
      &--full {
        grid-column: span 2;
      }
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      &-item, &-item--full { grid-column: span 1; }
    }
  }
}

.custom-input {
  width: 100%;
  padding: 1.3rem 1.3rem;
  font-family: 'Heebo', sans-serif;
  border: 1px solid #e5e7eb;
  background-color: #ffffff;
  color: #111827;
  border-radius: 0.75rem;
  font-size: 1rem;
  text-align: right; 
  transition: all 0.2s ease;
  margin-bottom:0.7rem ;
  &::placeholder {
    color: #6b7280;
    text-align: right;
    font-family: 'Heebo', sans-serif;
    font-size: 1.25rem;
  }

  &:focus {
    outline: none;
    border-color: #111827;
    box-shadow: 0 0 0 1px #111827;
  }
}