<div class="checkout-page" dir="rtl">
  <main class="checkout-page__main">
    <div class="checkout-page__container">
      
      <div class="checkout-page__header-wrapper">
        <header class="page-header">
          <nav class="breadcrumb">
            <a routerLink="/">דף הבית</a>
            <span class="separator">/</span>
            <a routerLink="/cart">עגלה</a>
            <span class="separator">/</span>
            <span class="current">תשלום</span>
          </nav>
          <h1 class="text-display">תשלום</h1>
        </header>
      </div>

      <div class="checkout-page__grid">
        <div class="checkout-page__grid-right">
          <app-shipping-address-form (formUpdate)="handleShippingSubmit($event)"></app-shipping-address-form>
          <app-shipping-method
              [shippingMethods]="(shippingMethods$ | async) || []"
              [selectedMethod]="selectedShippingMethod"
              (selectionChange)="handleShippingMethodChange($event)">
            </app-shipping-method>
          <app-payment-method-section [storedCard]="storedCard"></app-payment-method-section>
          <button type="submit" class="complete-order-btn" (click)="placeOrder()">
            <span>סיום הזמנה</span>
            <span class="arrow-icon">←</span>
          </button>
        </div>
        <div class="checkout-page__grid-left">
          <div class="sticky-container">
          <app-order-summary-card 
            [items]="orderItems" 
            [shipping]="selectedShippingMethod?.cost || 0">
           </app-order-summary-card>  
          </div>
        </div>
      </div>
    </div>
  </main>
</div>