@use '../styles/variables' as *;
::ng-deep {
  .checkout-page, 
  .checkout-page__main, 
  .checkout-page__container,
  .checkout-page__grid {
    overflow: visible !important;
  }
}
.page-header{
  margin-right:1rem;
  margin-bottom: 5rem;
}
.checkout-page__main,
.checkout-page__container,
.checkout-page {
  overflow: visible;
}

.checkout-page {
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
  align-items: stretch;
  padding-bottom: 4rem;
  &__header {
    padding: 2rem 0;
    border-bottom: 1px solid $border-color;
  }

  &__container {
    margin: 0 auto;
    padding: 0 0rem ;
  }

  &__main {
    padding: 2rem 0rem;

    @media (min-width: 1024px) {
      padding: 3rem 1rem;
    }
  }

&__grid {
    display: grid;
    grid-template-columns: 1fr; 
    row-gap: 4rem;
    @media (min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);
      gap: 3rem;
    }
  }

  &__grid-left {
    grid-row: 2; 
    grid-column: 1 / -1;

    @media (min-width: 1024px) {
      grid-column: span 4;
      grid-row: auto;
      margin-left: 1rem;
    }
  }

  &__grid-right {
    grid-row: 1; 
    grid-column: 1 / -1;

    @media (min-width: 1024px) {
      grid-column: span 8;
      grid-row: auto; 
    }
  }
}
.text-display{
  color:#000000;
}

.breadcrumb {
  display: flex;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #737373; 
  padding: 0;
  list-style: none;
  margin-bottom: 2rem;
  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;
    &:hover { color: #111827;cursor: pointer; }
  }

  .current {
    color: #111827;
    font-weight: 500;
  }
}

.complete-order-btn {
  margin-top: 2rem;
  height: 3.5rem;
  margin-right: 1rem;
  width: 13rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1.5rem;
  background-color: #111827;
  color: #ffffff;
  border: none;
  border-radius: 999px; 
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    opacity: 0.9;
    
    .arrow-icon {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
    }
  }

  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
  }

  .arrow-icon {
    display: inline-block;
    font-size: 1.2rem;
    line-height: 1;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
  }
}
  
