<!-- <p>{{ tKeys.SF_RETURN_POLICY_PAGE_WORKS | translate }}</p> -->

<div class="return-policy-page-container">
  <h1>מדיניות החזרות</h1>

  <section class="return-content-section">
    <div class="default-return-content">
      <h2>זמן החזרה</h2>
      <p>ניתן להחזיר פריטים תוך 30 יום ממועד המסירה לקבלת החזר כספי מלא או החלפה.</p>

      <h2>תנאי החזרה</h2>
      <p>הפריטים חייבים להיות במצבם ובאריזה המקוריים. ייתכן שחלק מהפריטים לא יהיו זכאים להחזרה.</p>

      <h2>תהליך החזרה</h2>
      <p>צרו קשר עם שירות הלקוחות שלנו כדי ליזום החזרה. אנו נספק תווית משלוח להחזרה עבור פריטים שעומדים בקריטריונים.</p>

      <h2>החזרים כספיים</h2>
      <p>החזרים כספיים מעובדים תוך 3-5 ימי עסקים לאחר קבלת הפריט שהוחזר.</p>
    </div>
  </section>
</div>