.payment-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  padding:0rem;
  margin-right: 1rem;
}

.pill-container {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  border: 1px solid #d1d5db;
  border-radius: 999px; 
  background-color: #ffffff;
  height: 3.5rem;
  width: 98%;
  padding: 0 1.5rem; 
  transition: all 0.2s ease;
  &--header {
    cursor: pointer;
    gap: 1rem;
  }
  &.active {
        border-color: #111827; 
  }
  &--input {
    border-color: #e5e7eb; 
    &:focus-within {
      border-color: #000000;
    }
  }
}

.inputs-grid {
  display: grid;
  width: 98.5%;
  grid-template-columns: repeat(3, 1fr);
  gap:1.3rem;
  margin-top: 0.5rem;
}

.clean-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #374151;
  background: transparent;

  &::placeholder {
    color: #9ca3af;
  }
}

.fields-expansion {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 0.5rem;
  animation: fadeIn 0.3s ease;
}

.radio-circle, .check-circle {
  width: 1.25rem;
  height: 1.25rem;
  border: 1.5px solid #111827;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-dot, .check-dot {
  width: 0.65rem;
  height: 0.65rem;
  background-color: #111827;
  border-radius: 50%;
}

.checkbox-line {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  user-select: none; /* שלא יסמן את הטקסט בכחול */
}

.custom-v-check {
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid #d1d5db; 
  border-radius: 1rem; /* פינות מעוגלות בעדינות */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.active {
    background-color: #111827; 
    border-color: #111827;
  }
}

.checkbox-label {
  font-size: 0.875rem;
  color: #111827;
}
.pill-label, .checkbox-label {
  font-size: 1rem;
  color: #111827;
  user-select: none;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.section-title{
  margin-top: 1.5rem;
  color:#000000;
  font-size: 1.25rem;
}
.checkbox-line {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
}

.checkbox-label {
  font-size: 0.875rem;
  color: #111827;
  user-select: none;
}

.billing-section {
  display: flex;
  flex-direction: column;
}

.billing-form-container {
  margin-top: 1rem;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}