:host {
display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
  z-index: 10;
  align-self: start; 
  height: auto;      
  width: 100%;
}

.order-summary-card {
  overflow: visible;
  width: 100%;
  height: fit-content; 
  background: #ffffff;
  border: 1px solid #e5e7eb; 
  border-radius: 0.75rem;     
  padding: 1.25rem;   
  margin-left: 2rem;        
  box-sizing: border-box;
  &__title {
  color:#000000;
  font-size: 1.25rem;
    margin-bottom: 1.5rem;   
  }

  &__item-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem 0;    
    display: flex;
    flex-direction: column;
    gap: 1rem;              
  }

  &__item {
    display: flex;
    gap: 1rem;              
    align-items: flex-start;
  }

  &__item-image {
    width: 64px;          
    height: 64px;          
    object-fit: cover;
    background-color: #f3f4f6; 
    border-radius: 2.5rem;   
    
  }

  &__item-details {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__item-name {
    font-size: 0.875rem;     
    font-weight: 500;
    color: #111827;  
    margin-bottom: 0rem;        
  }

  &__item-quantity {
    font-size: 0.75rem;      
    color: #6b7280;          
  }

  &__item-price {
    font-size: 0.875rem;    
    color: #111827;
  }

  &__separator {
    border: 0;
    border-top: 1px solid #e5e7eb;
    margin: 0;
  }

  &__totals {
    padding: 1rem 0;        
    display: flex;
    flex-direction: column;
    gap: 0.3rem;           
  }

  &__total-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;     
    span:first-child {
      color: #6b7280;   
    }
    span:last-child {
      color: #6b7280;        
    }
  }

  &__grand-total {
    padding-top: 0.3rem;     
    display: flex;
    justify-content: space-between;
    font-size: 1rem;        
    font-weight: 500;        
    color: #111827;
  }
}
  :host-context(html), :host-context(body) {
    overflow: visible !important;
    height: auto !important;
  }
