<div class="about-page-container">
  <h1>{{ tKeys.SF_ABOUT_PAGE_TITLE | translate }}</h1>

  <!-- About Content Section -->
  <section class="about-content-section" *ngIf="aboutContent$ | async as content; else loadingAbout">
    <div *ngIf="content">
      <h2 *ngIf="content.title">{{ content.title }}</h2>
      <img *ngIf="content.imageUrl" [src]="content.imageUrl" [alt]="tKeys.SF_ABOUT_IMAGE_ALT | translate" class="about-image">
      <p [innerHTML]="content.body"></p>
    </div>
    <ng-template #noAboutContent>
      <p>{{ tKeys.SF_ABOUT_NO_CONTENT | translate }}</p>
    </ng-template>
  </section>
  <ng-template #loadingAbout>
    <p>{{ tKeys.SF_ABOUT_LOADING_CONTENT | translate }}</p>
  </ng-template>

  <!-- Testimonials Section -->
  <section class="testimonials-section">
    <h2>{{ tKeys.SF_ABOUT_TESTIMONIALS_TITLE | translate }}</h2>
    <div *ngIf="testimonials$ | async as testimonials; else loadingTestimonials">
      <div *ngIf="testimonials && testimonials.length > 0; else noTestimonials" class="testimonials-grid">
        <div *ngFor="let testimonial of testimonials" class="testimonial-card">
          <p class="testimonial-quote">"{{ testimonial.quote }}"</p>
          <p class="testimonial-author">- {{ testimonial.author }}</p>
          <p *ngIf="testimonial.date" class="testimonial-date">{{ testimonial.date | date:'mediumDate' }}</p>
          <div *ngIf="testimonial.rating" class="testimonial-rating">
            {{ tKeys.SF_ABOUT_TESTIMONIAL_RATING | translate:testimonial.rating }}
          </div>
        </div>
      </div>
      <ng-template #noTestimonials>
        <p>{{ tKeys.SF_ABOUT_NO_TESTIMONIALS | translate }}</p>
      </ng-template>
    </div>
    <ng-template #loadingTestimonials>
      <p>{{ tKeys.SF_ABOUT_LOADING_TESTIMONIALS | translate }}</p>
    </ng-template>
  </section>
</div>
